/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
input:-webkit-autofill {
    background-color: transparent !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


html{
height:100%;
width:100%;
}

body, td, a, div, .p {
    font-family: "Noticia Text", helvetica, arial, sans-serif;
}

body{
background-image:url("../images/mainBackground.png");
background-repeat: no-repeat;
background-size: cover;
height:100%;
width:100%;
overflow:hidden;
}
body::-webkit-scrollbar { width: 0 !important }

table::-webkit-scrollbar { width: 0 !important }

div::-webkit-scrollbar { width: 0 !important }

-webkit-scrollbar { width: 0 !important }

table{
    background-color: transparent;
}

td{
 background-color: transparent;  
}



#bcent{
    position: relative;
height:95%;
width:100%;
overflow: hidden;
top:10px;
}
#topcut{
    position:relative ;
    

}


  
#adiv{
  display: none;
position: relative;
height:5%;
z-index:99;
overflow:visible
}

#amsg{
 
position: relative;
height:100%;
top:0;
left:0;

}

.touchtab{

position: relative;
height:100%;
width:100%;



}

.tochtab tr{
position: relative;
height:100%;
width:100%;
}

.touchtab td{
position: relative;
height:100%;

}

#adiv input{
position: relative;
height:100%;
width: 350px;
font-size: 100%;
z-index: 20;
  border:0px;
}


#adiv input:focus{
    outline: 0;
    background-color: transparent;
    background:transparent!important;
    border: 0px;
}

#atab{
position: relative;
height: 100%;
overflow:visible;
table-layout:fixed;
}

#adiv td{
position: relative;
padding-left: 3px;
overflow:visible
}
#BisSuggestBox{
    position: relative;
    z-index:99;
    padding: 0px;
    border: 0px;
}

#navhead{
display: none;
position: relative;
width: 80%;
height:7%;
}

#adminbutton{
position:absolute;
border-radius:10px;
height:50px;
width:100px;
display: none;
background-color: grey;
cursor:pointer;
z-index:99; 

}


#navtab td{
position:relative;   
font-family: 'Oxygen', sans-serif; 
color:darkgreen;
font-weight: 400;
text-align: center;
cursor:pointer;
z-index:10;
}

#navtab{
  table-layout: fixed;  
    position: relative;
    width: 100%;
}

#poweredby{
    position: relative;  
float:right;
}


#lotab{

position:relative;
top:10%;
    height:250px;
    width:560px;
    margin:auto;
   
}


#lotab tbody{

position:relative;
height:250px !important;
    width:560px !important;

}

#rtd{
   position:relative;
    height: 100%;
    width:80%;
}

#ltd{
   position:relative;
    height: 100%;
    width:20%;
}

.half{
position:relative;
height: 50%;
width:100%;


}

.four{
position:relative;
height: 25%;
width:100%;


}

.four p{
font-size: 145%;

 white-space: nowrap;
color:darkgreen
}

#r1{
//background-image:url("../images/Username.png");
background-repeat: no-repeat;
background-position: left center;

border-bottom:1px solid green;
}

#r2{
//background-image:url("../images/Password.png");
background-repeat: no-repeat;
background-position: left center;

border-bottom:1px solid green;
}


#lobt{
position:relative;
background-image:url("../images/LOG_IN.png");
background-repeat: no-repeat;
background-position: center center;
top:40%;
width:80%;
height:60%;
cursor:pointer;
}

input{
background-color: transparent;

}

p{
font-family: 'Oxygen', sans-serif; 
color:darkgreen;
}

.tput{
position:absolute;
font-family: 'Oxygen', sans-serif;
left:-1%;
height:80%;
width:100%;
resize: none;
font-size: 150%;
color:darkgreen;
background-color: transparent;
background:transparent!important;
z-index: 10;
border: 0px;
}



.tput:focus{
    outline: 0;
    background-color: transparent;
    background:transparent!important;
    border: 0px;
}

#req{
position:relative;
background-image:url("../images/REQ_AC_AS.png");
background-repeat: no-repeat;
background-position: center center;
top:30%;
width:75%;
height:60%;
cursor:pointer;

}

#for{
position:relative;
background-image:url("../images/FOR_PASS.png");
background-repeat: no-repeat;
background-position: center center;
top:20%;
width:60%;
height:60%;
cursor:pointer;

}

.bdiv{
    position:relative;
    padding: 1px 1px;
    cursor:pointer;
}

#ForgotForm{
   display: none;
position:relative;
   
    height:60%;
    width:40%;
    //border:0px 1px solid green;


}
#ForgotForm .tput{
left:0%;
}
#ForgotForm .four{
//border-bottom: 1px solid green;
}

#ForgotForm p{
position:relative;
margin:0%;
top:20%;
z-index: 10;
}

#fo1{
    padding-top: 5%;
}
#fo4{
    padding-top:  5%;
cursor: pointer;
border-bottom: 0px 
}

#RequestForm{
    display: none;
position:relative;
    height:60%;
    width:40%;
    border:0px 1px solid green;
}

#RequestForm p{
position:relative;
margin:0%;
top:20%;
z-index: 10;
}

#raback{
cursor: pointer;
}

#rasend{
    padding-top: 10px;
  cursor: pointer;
  border-bottom: 0px 
}


#RequestForm .four{
border-bottom: 1px solid green;
}

#RequestForm .tput{
left:0%;
}

input::-webkit-input-placeholder {
    color:darkgreen;
    text-transform: uppercase;
}
input::-moz-placeholder {
        color: darkgreen;
    text-transform: uppercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: darkgreen;
    text-transform: uppercase;
}
input:-ms-input-placeholder { 
    color: darkgreen;
    text-transform: uppercase;
}




#wpcontainer{
display: none;
position: relative;
width:1197px;
height: 80%;
overflow:hidden;


}
.wpdiv{
position:absolute;
top:0px;
height:95%;
z-index: 10;
}


#Farmselinput{
position: relative;



}


.wblet{
font-family: 'Oxygen', sans-serif; 
color:darkgreen;
text-align: left;
position: relative;
width:100%;
}

#wb1{
height: 5%

}

#wb2{
height: 5%
}


#wb2 input{
position: relative;
height:100%;
width: 350px;
font-size: 100%;
z-index: 20;
  border:0px;
}


#wb2 input:focus{
    outline: 0;
    background-color: transparent;
    background:transparent!important;
    border: 0px;
}



#wb3{
height: 0%;
visibility:hidden;
cursor:pointer;
font-size: 80%;
}
#wb4{
height: 40%

}
#wb4 p{

font-size:75%;

margin:3px;
}

#wb5{
height: 10%

}
#wb6{
height: 30%;
color:white;
}
#wb6 p{
  position: relative;
  font-size: 80%;
color:white;
z-index: 10;
}
#wb6 #linkbox {

position: relative;
height: 50%;

width:90%;
left:5%;
z-index: 10;
}

#wb6 textarea{
position: relative;
height: 100%;

width:100%;
resize:none;

}




#plable{
    position:relative;
//margin-top:1px;
position: relative;
height: 20%;
width:100%;

}
.scat{


font-family: inherit;


}

.scat p{
    color:black;
    font-size: 125%;
    font-family: inherit;

}

.slist{

margin:3% 0px;
font-family: inherit;
}

.slist p{
    font-size: 100%;
    color:inherit;
    margin: 16px 0px;
    font-family: inherit;
}

.scrolldiv{
position:relative;
z-index:10;
font-family: inherit;

}

#wproud{
font-size: 200%;
font-family: inherit;

}  



#sende{
opacity:.3;
position: relative;
height: 30px;
width:100px;
background-color:lightblue;
border:2px solid green;
cursor:pointer;
}




#newemail{
position: relative;
height: 30px;
width:200px;
font-size: 100%;
margin: 20px;
border:2px solid green;

}

#payform{
    margin-top: 10px;


}

#paytime {
  display: none;
position:relative;
height: 100%;
width: 100%;
  
}

#clicktopay{

  cursor: pointer;
}

#clicktopay:hover{
  color: blue;
  cursor: pointer;

}

#paymsg {
font-size: 200%;
  position: relative;
    height: 400px;
    width: 800px;
    border: 2px solid blue;
    top: 100px;
    background-color: white;
    z-index: 10;

}




.gwt-SuggestBox {
position:relative;
z-index:20;
 background-color: transparent; 
 border:0px;
 border-radius: 0px;
  padding:0px;
  box-shadow:none;
  -webkit-box-shadow: 0px 0px 0px 0px !important;
-moz-box-shadow: 0px 0px 0px 0px !important ; 
box-shadow: none !important ;
}

.gwt-SuggestBoxPopup {
position:relative;
background-color: green;
z-index:20;
 }

.gwt-DatePicker {
    border: 1px solid #ccc;
    border-top:1px solid #999;
    cursor: default;
    position:relative;
    z-index:10;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
    outline: none;
}
.datePickerMonthSelector td:focus {
    outline: none;
}
.datePickerDays {
    width: 100%;
    background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight:bold;
    color:#333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background: #fff;
    padding: 0px 4px 2px;
    cursor: default;
    color:#666;
    font-size:70%;
    font-weight:normal;
}
.datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer;
}
.datePickerDayIsWeekend {
    background: #f7f7f7;
}
.datePickerDayIsFiller {
    color: #999;
    font-weight:normal;
}
.datePickerDayIsValue {
    background: #d7dfe8;
}
.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}
.datePickerDayIsHighlighted {
    background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}
.datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: url(business/images/hborder.png) repeat-x 0px -2607px;
}
.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}
.datePickerPreviousButton,
.datePickerNextButton,
.datePickerPreviousYearButton,
.datePickerNextYearButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 4px;
    outline: none;
}
td.datePickerMonth,
td.datePickerYear {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}
.gwt-DateBox {
    position:relative;
    padding: 5px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    font-size: 90%;
    color:green;
}
.gwt-DateBox input {
    width: 8em;
}
.dateBoxFormatError {
    background: #ffcccc;
}
.dateBoxPopup {
}
